#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(52, 58, 64,.97);
}
.navbar-brand img{
    height: 25px;
  }
  .navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
  }
  .fa-bars{
    color: #fff;
    font-size: 30px !important;
    }