html { 
    background: url(covid199.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #a{
      background: transparent ;
      margin-top: 15em;
  }
h3,h1,h4{
    color: white;
}
body{
    background: transparent !important;
}
#nav-bar{
    background-color: rgb(52, 58, 64,.8) !important;
}
